table{
	border-collapse: collapse;
	border-spacing: 0;
}
table:first-child {
    border-radius: 8px 8px 0 0;
}

table:last-child {
    border-radius: 8px 8px 8px 8px;
}

table:only-child{
    border-radius: 8px 8px 8px 8px;
}

p.title{
	font-style: oblique;
	color: white;
	font-size: 16px;
	padding: 0;
}

p.result_choice{
	margin-right: 10px;
	color: #00A3DE;
	text-align: right;
	display: inline;
	float: left;
}

span.fui-new{
	color:white;
}

/*Overriding flatUI */
span.fui-cross{
	color:white;
}

td
{
	padding: 5px;
	padding-left:15px;
	color: white;
	padding-right: 15px;
	vertical-align: top;
}

td.desc{
	color: #D7D7D7;
	font-size: 14px;
}

/*Default color for border in case type fails */
tr{
	width: 100%;
	/*border-bottom: 3px solid purple;*/
}

tr.main_result{
	cursor: pointer;
}

/*Border color for different wine types, added dynamically via template. 
  TODO: Maybe change to a different solution...*/
tr.Rød{
	border-bottom: 3px solid #690b19;
}

tr.Hvit{
	border-bottom: 3px solid #f9d37e;
}

tr.Rose{
	border-bottom: 3px solid #ea9aa7;
}

tr.Annet{
	border-bottom: 3px solid #AAAAAA;
}

tr.Champagne{
	border-bottom: 3px solid #f9e4d1;
}

tr.Dessertvin{
	border-bottom: 3px solid #ffb19a;
}

tr.Søtvin{
	border-bottom: 3px solid #ba2e40;
}

tr.Sherry{
	border-bottom: 3px solid #cc1164;
}

tr.Musserende{
	border-bottom: 3px solid #ffb19a;
}

tr.Akevitt{
	border-bottom: 3px solid #f3e9dd;
}

tr.Portvin{
	border-bottom: 3px solid #640d15;
}

tr.Tokaji{
	border-bottom: 3px solid #c96f00;
}

tr.Hetvin{
	border-bottom: 3px solid #531e24;
}

tr.Cognac{
	border-bottom: 3px solid #983a0c;
}

tr.Oransje{
	border-bottom: 3px solid #983a0c;
}

tr.Madeira{
	border-bottom: 3px solid #982900;
}

tr.Rom{
	border-bottom: 3px solid #5c0027;
}

td.name{
	width: 60%;
}

td.year{
	width: 6%;
}

td.country{
	width: 15%;
}

td.price{
	width: 14%;
}

td.stars{
	width: 5%;
}