html{
	min-height: 100%;
	max-height: 100000px;
}

body{
    margin:0;
    padding:0;
    width: 100%;
    height: auto;

	background: #91152f; /*fallback*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91152f), color-stop(100%,#3a0e1d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #91152f 0%,#3a0e1d 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top, #91152f 0%, #3a0e1d 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top, #91152f 0%,#3a0e1d 100%); /* IE10+ */
	background: -o-linear-gradient(top, #91152f 0%,#3a0e1d 100%); /* Opera 11.10+ */
	background: linear-gradient(to bottom, #91152f 0%,#3a0e1d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91152f', endColorstr='#3a0e1d',GradientType=0 ); /* IE6-9 */
}

a{
    text-decoration: none;
    color: black;
}

.logo:hover{
	color: #222222;
}

a.white:hover{
	color: #D7D7D7;
}

h1{
	font-family: 'Kyboshed';
	color: black;
	font-size: 3em;
	margin: 0;
	padding:0;
}

.background{
	bottom: 50px;
	right: 0;
	position: fixed;
	z-index: -3;
}

.marginleft{
	margin-left: 5px;
}

.white{
	color: white;
}

.cursorPointer{
	cursor: pointer;
}

ul.horizontal, .filter{
	list-style: none;
}

ul.horizontal li{
	display: inline;
	float: left;
	margin-right: 11%;
	color: #D7D7D7;	
}

ul.filter li{
	display: inline;
	float: left;
	margin-right: 30px;
	color: #D7D7D7;	
}

li.search{
	margin-right: 8px;
}

li.logo{
	margin-right: 5%;
}

li.nomargin{
	margin: 0;
}

ul.search-shortcuts{
	width: 25%;
	position: absolute;
	margin-left:75%;
}
ul.search-shortcuts li{
	display: block;
	background-color: blue;
}

/*Overrides the flatUI form-control class values which I thought were too large */
input.add{
	display: block;
	width: 300px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 5px;
	border: 3px solid #bdc3c7;
	
}

textarea.add{
	display: block;
	width: 400px;
	height: 70px;
	margin: 0 auto;
	margin-bottom: 5px;
	border: 3px solid #bdc3c7;
}

input.add:focus{
	border: 3px solid #e85874;
}
input.required:focus{
	border: 3px solid #e85874;
}
textarea.add:focus{
	border: 3px solid #e85874;
}

.required{
	display: block;
	width: 300px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 5px;
	border: 3px solid #FF5A00;
}

.centered{
	text-align: center;
}

input.add::-webkit-input-placeholder, input.required::-webkit-input-placeholder { /* WebKit browsers */
    color: #818185;
}
input.add:-moz-placeholder, input.required:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #818185;
}
input.add::-moz-placeholder, input.required::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #818185;
}
input.add:-ms-input-placeholder, input.required:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #818185;
}

textarea.add::-webkit-input-placeholder { /* WebKit browsers */
    color: #818185;
}
textarea.add:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #818185;
}
textarea.add::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #818185;
}
textarea.add:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #818185;
}

#logo{
	display: block;
	padding-top: 10px;
	padding-left: 30px;
}

#header{
	position: fixed;
	/*inline block allows block elements to hade height and width */
	display:inline-block;
	background-color: #91152f;
	width: 100%;
	height: 120px;
	/*height: auto;*/
	margin: 0 auto;
	padding: 20px;
	margin-top: 0px;
	z-index: 1000;
	/*border-bottom: 5px solid #3a0e1d;*/
}

/*Because header is fixed it doesn't take up space of the page. Need an (empty)
element the size of the header to push the rest of the content down */ 
#contentPush {
	/*header height + padding*/
	height: 160px;
	width: 100%;
}

#menu{
	width: 100%;
	margin: 0 auto;
}

#container{
	min-width: 650px;
	max-width: 100%;
	margin: 0 auto;
	margin-left: 100px;
	margin-top: 30px;
}

#content{
	margin: 0 auto;
	width: 75%;
	padding:2%;
}

#search{
	width: auto;
	margin: 0 auto;
	/*margin-top: 120px;*/
	height: 70px;
}

#search_form{
	width: 400px;
	margin: 0 auto;
}

#search_button{
	cursor: pointer;
	display: inline;
	margin-top: 10px;
	padding-top: 7px;
	padding-bottom: 6px;
}
/* This is cool, it targets just firefox, because the button shouldn't be pushed down cause it is bigger in firefox than chrome */
@-moz-document url-prefix() {
	#search_button{
		margin-top: 0;
	}
}

#search_box{
	display: inline;
	float: left;
	margin-right: 5px;
}

#filter{
	width: 550px;
	margin: 0 auto;
}

.content{
	margin:0 auto;
	/*margin-top:120px;*/
	width: 85%;
}

#add-form{
	margin:0 auto;
	width: 85%;
	display: none;
}

#datavisualisation{
	display: none;
}

#footer{
    position: fixed;
    background-color: #060606;
    width: 100%;
    bottom: 0;
    left: 0; 
    margin:0;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.alertbox{
	width:300px;
	height: 250px;
	background-color: orange;
	border-radius: 8px 8px 8px 8px;
	z-index: 1000;
}

p.footer{
	font-size: 0.4em;
	margin: 0;
	padding: 0;
}

a.sunshake{
	font-family: "ClearLine";
	color: white;
	font-size: 3em; /*this affects the link text, even tho another font-size is defined for the p elem*/
	margin: 0;
	padding: 0;
}

.result-list{
	width: 100%;
	height: 30px;
	background-color: #060606;
	padding: 0;
	margin: 0;
}

.no-result-list{
	min-width: 50%;
	max-width: 99%;
	height: 30px;
	background-color: #060606;
	/*background-color: #060606;*/
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}
.message{
	display: none;
}

.result-color{
	background-color: purple;
	width: 20px;
	height: 30px;
	display: inline;
	float: right;
}

.result-data{
	display: inline;
	float: left;

}

#results{
	width: 85%;
	margin: 0 auto;
}

@font-face {
  	font-family: "ClearLine";
  	src: url("../assets/fonts/ClearLine.ttf");
}

@font-face {
  	font-family: "ASwirlVelvet";
  	src: url("../assets/fonts/ASwirlVelvet.ttf");
}

@font-face {
  	font-family: "Kyboshed";
  	src: url("../assets/fonts/Kyboshed.ttf");
}

@font-face {
  	font-family: "StartlingFont";
  	src: url("../assets/fonts/StartlingFont.ttf");
}

@font-face {
  	font-family: "startlng";
  	src: url("../assets/fonts/startlng.ttf");
}