html{
	min-height: 100%;
	max-height: 100000px;
}

body{
    margin:0;
    padding:0;
    width: 100%;
    height: auto;

	background: #91152f; /*fallback*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91152f), color-stop(100%,#3a0e1d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #91152f 0%,#3a0e1d 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top, #91152f 0%, #3a0e1d 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top, #91152f 0%,#3a0e1d 100%); /* IE10+ */
	background: -o-linear-gradient(top, #91152f 0%,#3a0e1d 100%); /* Opera 11.10+ */
	background: linear-gradient(to bottom, #91152f 0%,#3a0e1d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91152f', endColorstr='#3a0e1d',GradientType=0 ); /* IE6-9 */
}

a{
    text-decoration: none;
    color: black;
}

a.white:link{
	color:white;
}

a.logo{
	font-family: 'Kyboshed';
	color: black;
	font-size: 3em;
	font-weight: bold;
	margin: 0;
	padding:0;
}
a.logo:link, a.logo:active{
	color:black;
}

a.logo:hover{
	color: #222222;
}

a.white:hover, a.white:active{
	color: #D7D7D7;
}

/* For the background illustration */
.background{
	bottom: 50px;
	right: 0;
	position: fixed;
	pointer-events: none;
	z-index: -3;
}

li span{
	margin-left: 5px;
}

/*h4 */
.white{
	color: white;
}

.cursorPointer{
	cursor: pointer;
}

ul.horizontal, .filter{
	list-style: none;
	display:inline;
}

ul.horizontal li, ul.filter li{
	display: inline;
	float: left;
	margin-right: 120px;
	color: #D7D7D7;	
}

ul.filter li{
	margin-right: 30px;
}

ul.horizontal li.nomargin, ul.filter li.nomargin{
	margin-right: 0;
}


/*Overrides the flatUI form-control class values which I thought were too large */
input.add, textarea.add, input.required{
	display: block;
	width: 300px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 5px;
	border: 3px solid #bdc3c7;	
}

input.required{
	border: 3px solid #FF5A00;
}

textarea.add{
	width: 400px;
	height: 70px;
}

input.add:focus, input.required:focus, textarea.add:focus{
	border: 3px solid #e85874;
}


.centered{
	text-align: center;
}

/* This sucks, but I have to specify class, else the
	flatUI default placeholder overrides this, I think */
input.add::-webkit-input-placeholder, input.required::-webkit-input-placeholder {
    color: #818185;
}
input.add:-moz-placeholder, input.required:-moz-placeholder {
    color: #818185;
}
input.add::-moz-placeholder, input.required::-moz-placeholder {
    color: #818185;
}
input.add:-ms-input-placeholder, input.required:-ms-input-placeholder { 
    color: #818185;
}

textarea.add::-webkit-input-placeholder { 
    color: #818185;
}
textarea.add:-moz-placeholder { 
    color: #818185;
}
textarea.add::-moz-placeholder { 
    color: #818185;
}
textarea.add:-ms-input-placeholder {
    color: #818185;
}

#logo{
	display:inline-block;
	float:left;
	padding-top: 10px;
	padding-left: 30px;
	margin-right: 50px;
}

#header{
	position: fixed;
	background-color: #91152f;
	width: 100%;
	height: 80px;
	padding: 20px;
	margin-top: 0px;
	z-index: 1;
}

/*Because header is fixed it doesn't take up space of the page. Need an (empty)
element the size of the header to push the rest of the content down */ 
#contentPush {
	/*header height + padding*/
	height: 120px;
	width: 100%;
}

#content{
	margin: 0 auto;
	width: 75%;
	padding:40px;
}

#search{
	width: auto;
	margin: 0 auto;
	height: auto;
}

#search_button{
	cursor: pointer;
	display: inline;
	margin-top: 10px;
	padding-top: 7px;
	padding-bottom: 6px;
}
/* This is cool, it targets just firefox, because the button shouldn't be pushed down cause it is bigger in firefox than chrome */
@-moz-document url-prefix() {
	#search_button{
		margin-top: 0;
	}
}

#search_box{
	display: inline;
	margin-right: 5px;
}

#filter{
	width: auto;
	margin: 0 auto;
	overflow:hidden;
}

/*Trick to center elements without a set width */
/*pointer-events:none makes it so that it doesn't cover i.e. links underneath */
.outer-center {
    float: right;
    right: 50%;
    position: relative;
    pointer-events:none;
}
.inner-center {
    float: right;
    right: -50%;
    position: relative;
    pointer-events:auto;
}
.clear {
    clear: both;
}
/***************************************************/

.content{
	margin:0 auto;
	width: 85%;
}

.result-list{
	width: 100%;
	/*height: 30px;*/
	background-color: #060606;
	padding: 0;
	margin: 0;
}

.no-result-list{
	min-width: 50%;
	max-width: 99%;
	height: 30px;
	background-color: #060606;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

.message{
	display: none;
}

#results{
	width: 100%;
	/*margin: 0 auto;*/
}

#footer{
    position: fixed;
    background-color: #060606;
    width: 100%;
    bottom: 0;
    left: 0; 
    margin:0;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

p.footer{
	font-size: 0.4em;
	margin: 0;
	padding: 0;
}

a.sunshake{
	font-family: "ClearLine";
	color: white;
	font-size: 3em; /*this affects the link text, even tho another font-size is defined for the p elem*/
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'Kyboshed';
  src: url('../assets/fonts/Kyboshed.woff') format('woff'),
       url('../assets/fonts/Kyboshed.ttf') format('truetype');
}

@font-face {
  font-family: 'ClearLine';
  src: url('../assets/fonts/ClearLine.woff') format('woff'),
       url('../assets/fonts/ClearLine.ttf') format('truetype');
}